body{
    
    background-image: linear-gradient(-225deg, #092b8f 0%, #1f1b94 48%, #0a1d9a 100%);
}
header{
    display: flex;
    justify-content: space-between;
}
#btn0{
    background-color: rgb(243, 62, 152) !important;
}
.overview{
    color: rgb(181, 178, 178);
}
#btn1{
    background-color: #0948b5;
}
#green{
    color: rgb(90, 232, 185);
}
#dark{
    color: #07063e;
}
#text1{
    font-size: 55px;
}
#text2{
    font-size: 1.3rem;
}
#span1{
    border-bottom: 3px solid rgb(150, 149, 149);
}
#span2{
    border-bottom: 3px solid rgb(150, 149, 149);
}
#pos{
    position: absolute;
    top: 435px;
    right: 420px;
    font-size: 20px;
    padding: 0px 15px 0px 15px;
}
hr{
    position: relative;
}